# Import libraries

In [1]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Creat path
path = r'D:\ドキュメント\Study\CareerFoundry\Achievement 6'

# Import dataset

In [3]:
df = pd.read_csv(os.path.join(path, '02 Data','Original Data','Vehicle Loan Default Prediction.csv'), index_col = False)

# Remove unnecessary column

In [4]:
df.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,supplier_id,manufacturer_id,Current_pincode_ID,Date.of.Birth,Employment.Type,...,SEC.SANCTIONED.AMOUNT,SEC.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,SEC.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,22807,45,1441,01-01-84,Salaried,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,22807,45,1502,31-07-85,Self employed,...,0,0,1991,0,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,22807,45,1497,24-08-85,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,22807,45,1501,30-12-93,Self employed,...,0,0,31,0,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,22807,45,1495,09-12-77,Self employed,...,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
df_1 = df.drop(columns = ['supplier_id','manufacturer_id','Current_pincode_ID','Employee_code_ID','SEC.NO.OF.ACCTS','SEC.ACTIVE.ACCTS','SEC.OVERDUE.ACCTS','SEC.CURRENT.BALANCE','SEC.SANCTIONED.AMOUNT','SEC.DISBURSED.AMOUNT','SEC.INSTAL.AMT'])

In [7]:
df_1.head()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,Date.of.Birth,Employment.Type,DisbursalDate,State_ID,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PERFORM_CNS.SCORE.DESCRIPTION,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,AVERAGE.ACCT.AGE,CREDIT.HISTORY.LENGTH,NO.OF_INQUIRIES,loan_default
0,420825,50578,58400,89.55,67,01-01-84,Salaried,03-08-18,6,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
1,537409,47145,65550,73.23,67,31-07-85,Self employed,26-09-18,6,1,1,0,0,0,0,598,I-Medium Risk,1,1,1,27600,50200,50200,1991,0,1,1yrs 11mon,1yrs 11mon,0,1
2,417566,53278,61360,89.63,67,24-08-85,Self employed,01-08-18,6,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,0,0
3,624493,57513,66113,88.48,67,30-12-93,Self employed,26-10-18,6,1,1,0,0,0,0,305,L-Very High Risk,3,0,0,0,0,0,31,0,0,0yrs 8mon,1yrs 3mon,1,1
4,539055,52378,60300,88.39,67,09-12-77,Self employed,26-09-18,6,1,1,0,0,0,0,0,No Bureau History Available,0,0,0,0,0,0,0,0,0,0yrs 0mon,0yrs 0mon,1,1

# Check consistency

In [8]:
pd.options.display.float_format = '{:.3f}'.format

In [9]:
df_1.describe()

,UniqueID,disbursed_amount,asset_cost,ltv,branch_id,State_ID,MobileNo_Avl_Flag,Aadhar_flag,PAN_flag,VoterID_flag,Driving_flag,Passport_flag,PERFORM_CNS.SCORE,PRI.NO.OF.ACCTS,PRI.ACTIVE.ACCTS,PRI.OVERDUE.ACCTS,PRI.CURRENT.BALANCE,PRI.SANCTIONED.AMOUNT,PRI.DISBURSED.AMOUNT,PRIMARY.INSTAL.AMT,NEW.ACCTS.IN.LAST.SIX.MONTHS,DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS,NO.OF_INQUIRIES,loan_default
count,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000,233154.000
mean,535917.573,54356.994,75865.068,74.747,72.936,7.262,1.000,0.840,0.076,0.145,0.023,0.002,289.463,2.441,1.040,0.157,165900.077,218503.855,218065.899,13105.482,0.382,0.097,0.207,0.217
std,68315.694,12971.314,18944.781,11.457,69.835,4.482,0.000,0.366,0.264,0.352,0.151,0.046,338.375,5.217,1.941,0.549,942273.582,2374794.126,2377743.846,151367.905,0.955,0.384,0.706,0.412
min,417428.000,13320.000,37000.000,10.030,1.000,1.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,-6678296.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
25%,476786.250,47145.000,65717.000,68.880,14.000,4.000,1.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
50%,535978.500,53803.000,70946.000,76.800,61.000,6.000,1.000,1.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
75%,595039.750,60413.000,79201.750,83.670,130.000,10.000,1.000,1.000,0.000,0.000,0.000,0.000,678.000,3.000,1.000,0.000,35006.500,62500.000,60800.000,1999.000,0.000,0.000,0.000,0.000
max,671084.000,990572.000,1628992.000,95.000,261.000,22.000,1.000,1.000,1.000,1.000,1.000,1.000,890.000,453.000,144.000,25.000,96524920.000,1000000000.000,1000000000.000,25642806.000,35.000,20.000,36.000,1.000

In [10]:
df_1['PRI.SANCTIONED.AMOUNT'].value_counts(ascending = True)

2189382         1
704419          1
1122414         1
114802          1
122998          1
            ...
25000         946
100000        974
30000        1450
50000        1503
0          138096
Name: PRI.SANCTIONED.AMOUNT, Length: 44390, dtype: int64

# Check data type

In [11]:
df_1.dtypes

UniqueID                                 int64
disbursed_amount                         int64
asset_cost                               int64
ltv                                    float64
branch_id                                int64
Date.of.Birth                           object
Employment.Type                         object
DisbursalDate                           object
State_ID                                 int64
MobileNo_Avl_Flag                        int64
Aadhar_flag                              int64
PAN_flag                                 int64
VoterID_flag                             int64
Driving_flag                             int64
Passport_flag                            int64
PERFORM_CNS.SCORE                        int64
PERFORM_CNS.SCORE.DESCRIPTION           object
PRI.NO.OF.ACCTS                          int64
PRI.ACTIVE.ACCTS                         int64
PRI.OVERDUE.ACCTS                        int64
PRI.CURRENT.BALANCE                      int64
PRI.SANCTIONED.AMOUNT                    int64
PRI.DISBURSED.AMOUNT                     int64
PRIMARY.INSTAL.AMT                       int64
NEW.ACCTS.IN.LAST.SIX.MONTHS             int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS      int64
AVERAGE.ACCT.AGE                        object
CREDIT.HISTORY.LENGTH                   object
NO.OF_INQUIRIES                          int64
loan_default                             int64
dtype: object

In [12]:
# Change the data type for start time and end time.
df_1['MobileNo_Avl_Flag'] = df_1['MobileNo_Avl_Flag'].astype('bool')
df_1['Aadhar_flag'] = df_1['Aadhar_flag'].astype('bool')
df_1['PAN_flag'] = df_1['PAN_flag'].astype('bool')
df_1['VoterID_flag'] = df_1['VoterID_flag'].astype('bool')
df_1['Driving_flag'] = df_1['Driving_flag'].astype('bool')
df_1['Passport_flag'] = df_1['Passport_flag'].astype('bool')
df_1['loan_default'] = df_1['loan_default'].astype('bool')

In [13]:
df_1.dtypes

UniqueID                                 int64
disbursed_amount                         int64
asset_cost                               int64
ltv                                    float64
branch_id                                int64
Date.of.Birth                           object
Employment.Type                         object
DisbursalDate                           object
State_ID                                 int64
MobileNo_Avl_Flag                         bool
Aadhar_flag                               bool
PAN_flag                                  bool
VoterID_flag                              bool
Driving_flag                              bool
Passport_flag                             bool
PERFORM_CNS.SCORE                        int64
PERFORM_CNS.SCORE.DESCRIPTION           object
PRI.NO.OF.ACCTS                          int64
PRI.ACTIVE.ACCTS                         int64
PRI.OVERDUE.ACCTS                        int64
PRI.CURRENT.BALANCE                      int64
PRI.SANCTIONED.AMOUNT                    int64
PRI.DISBURSED.AMOUNT                     int64
PRIMARY.INSTAL.AMT                       int64
NEW.ACCTS.IN.LAST.SIX.MONTHS             int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS      int64
AVERAGE.ACCT.AGE                        object
CREDIT.HISTORY.LENGTH                   object
NO.OF_INQUIRIES                          int64
loan_default                              bool
dtype: object

# Check missing value

In [14]:
df_1.isnull().sum()

UniqueID                                  0
disbursed_amount                          0
asset_cost                                0
ltv                                       0
branch_id                                 0
Date.of.Birth                             0
Employment.Type                        7661
DisbursalDate                             0
State_ID                                  0
MobileNo_Avl_Flag                         0
Aadhar_flag                               0
PAN_flag                                  0
VoterID_flag                              0
Driving_flag                              0
Passport_flag                             0
PERFORM_CNS.SCORE                         0
PERFORM_CNS.SCORE.DESCRIPTION             0
PRI.NO.OF.ACCTS                           0
PRI.ACTIVE.ACCTS                          0
PRI.OVERDUE.ACCTS                         0
PRI.CURRENT.BALANCE                       0
PRI.SANCTIONED.AMOUNT                     0
PRI.DISBURSED.AMOUNT                      0
PRIMARY.INSTAL.AMT                        0
NEW.ACCTS.IN.LAST.SIX.MONTHS              0
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS       0
AVERAGE.ACCT.AGE                          0
CREDIT.HISTORY.LENGTH                     0
NO.OF_INQUIRIES                           0
loan_default                              0
dtype: int64

# Check duplication

In [15]:
df_1.duplicated().sum()

0

# Export newly created data frame

In [18]:
df_1.to_csv(os.path.join(path, '02 Data','Prepared Data','vehicle loan customer_cleansed.csv'), index=False)